# Database configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=bank_sampah_palembang

# Google OAuth configuration
GOOGLE_CLIENT_ID=852715235838-ap4dhp5te64h4otq5mgo3td70g21419m.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://localhost/Coding%20RPL/auth/google_callback.php
